body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.body_ristorante, .body_azienda {
    height: 100vh;
    margin: 0;
}

h3, h2 {
    color: #333;
    margin-bottom: 0.5em;
}

#domanda_conferma {
    text-align: center;
}

#intestazione {
    background-color: #ff9e16;
    border-width: 0em;
    margin: 0em;
    padding-bottom: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#logo {
    border-width: 0px;
    margin: 0px;
    padding-bottom: 0px;
    display: flex;
}

#id_nome_ristorante {
    margin: 1em;
}

form {
    display:flex;
    justify-content:space-around;
    margin-top: 0em;
}
.form_principale_azienda, .form_principale_ristorante, .form_modale {
    display:flex;
    justify-content: space-around;
}
.form_principale_azienda, .form_principale_ristorante {
    margin-top: 0;
    height: calc(100vh - 136px);
}


h1 {
    text-align: left;
    color: #333;
    margin-left: 2.5em;
    margin-top: 1em;
    margin-bottom: 2em;
}
#titolo_dettaglio {
    text-align: left;
    color: #333;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
}
#id_titolo_nuovo_piatto, #id_titolo_modifica_piatto {
    margin-bottom: 1em;
}

.blocco1 {
    margin-left: 4em;
    margin-right: 10px;
    margin-top: 0em;
    padding-top: 0em;
}
#id_blocco1_home_azienda {
    margin-top: 59.92px;
}
#id_blocco1_ristorante {
	margin-top: 59.92px;
}
#id_blocco1_mod_dettaglio_ristorante {
	margin-left: 4em;
	margin-right: 4em;
}
#id_blocco2_mod_dettaglio_ristorante {
	margin-right: 4em;
	margin-left: 4em;
}
#id_blocco1_mod_dettaglio_azienda {
	margin-left: 4em;
	margin-right: 2em;
}
#id_blocco2_mod_dettaglio_azienda {
	margin-right: 4em;
	margin-left: 2em;
}
.blocco2 {
    margin-right: 4em;
    margin-top: 0em;
    padding-top: 0em;
}
#id_blocco2_modifica_ristorante, #id_blocco2_aggiungi_ristorante {
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 0em;
    padding-top: 0em;
}
.blocco3 {
    margin-right: 4em;
    margin-top: 0em;
    padding-top: 0em;
}
.dettagli {
    margin-right: 0.5em;
    margin-left: 0.5em;
    display: flex;
}

.colonna_azioni {
	min-width: 80px;
}

input {
    font-size: 1em;
    width: 10em;
    border-radius: 0.5em;
    border-color: #535353;
    outline: unset;
    border-width: 1px;
}

ol {
    padding: 0em;
}

li {
    list-style: none; /*elimino i puntini dell'elenco*/
    color: #535353;
    font-size: 1em;
}
.elemento_categoria {
    list-style: circle;
}
li:hover, tr:hover {
    background-color: #dcdcdc;
}
#id_ingrediente_visualizzato:hover {
    background-color: unset;
    color:black;
}
#id_ingrediente_visualizzato {
    color: black;
}

#id_contenitore_tabella {
	overflow: auto;
	height: calc(100% - 59.92px);
}

/* ICONE ------------------------------------------------ */

#id_aggiungi_1, #id_aggiungi_2 {
    cursor: pointer;
    color: #ff9e16;
    margin-left: 0.5em;
    transform: scale(1.3);
}

.elimina_1, .elimina_2 { color: #535353; margin-right: 1em; }
.elimina, .modifica, .dettaglio { color: #535353; margin-right: 0.5em; }

.elimina_1:hover, .elimina_2:hover, .elimina:hover { cursor: pointer; color: red; }
.dettaglio:hover { cursor: pointer; color: blue; }
.modifica:hover { cursor: pointer; color: green; }
.ordina:hover { cursor: pointer; }

svg {
    vertical-align: middle;
}

.azioni {
    width:100%;
    text-align: center;
}
.inner {
    display: inline-block;
}

/* --------------------------------------------------------- */

#id_categoria, #id_categoria_mod {
    cursor: pointer;
    font-size: 1em;
    width: 10em;
    border-radius: 0.5em;
}

textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 0.5em;
    color: #333;
}

.info_ristorante, .tabella_menu, .descrizione, .lista_ingredienti, .info_operatore, .tabella_ristoranti, .dettaglio_ristorante_menu {
    background-color: #f5f5f5;
    border-radius: 0.5em;
    outline: unset;
    padding: 1em;
    padding-top: 0.1em; padding-bottom: 0.5em;
}

th {
    outline: unset;
}

#id_dati_login {
    background-color: #fff;
    border-radius: 0.5em;
    outline: unset;
    padding: 1em;
    padding-top: 0.1em; padding-bottom: 0.5em;
    color: #333;
}

th {
    background-color: #ff9e16;
    text-align: center;
    color: white;
    border-radius: 0.5em;
    padding: 0.5em;
}

.corpo_tabella {
    text-align: left;
}

/* BOTTONI --------------------------------------------------- */

button {
    margin: 0 auto;
    background-color:#ff9e16 ;
    display: block;
    cursor: pointer;
    border-radius: 1em;
    color: white;
    font-weight: bold;
    border-width: 0px;
}

.nuovo_piatto, .nuovo_ristorante, .gestisci_categorie, .salva_modifica_ristorante, .conferma_eliminazione_ristorante, .annulla_eliminazione_ristorante, .conferma_eliminazione_piatto, .annulla_eliminazione_piatto, .salva_nuovo_ristorante, .salva_nuova_categoria {
    width: 10em;
    height: 3em;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 1em;
    outline: unset;
}
.salva_1, .salva_2 {
    width: 10em;
    height: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1em;
    outline: unset;
}
.nuovo_ristorante {
    margin-top: 1em;
}
.nuovo_piatto {
	margin-top: 0;
}
.conferma_eliminazione_ristorante, .conferma_eliminazione_piatto {
    background-color: #ff9e16a9;
}
.conferma_eliminazione_ristorante:hover, .conferma_eliminazione_piatto:hover {
    background-color: #ff9e16;
}

#id_nuovo_ristorante, #id_gestisci_categorie {
    margin: 2em;
}

/* MODALI --------------------------------------------------- */

.modale_aggiungi, .modale_dettaglio, .modale_modifica, .modale_elimina, .modale_gestisci{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; top: 0;
    height: 100%; width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
    align-content: center;
}
.contenuto_modale_aggiungi, .contenuto_modale_dettaglio, .contenuto_modale_modifica, .contenuto_modale_elimina, .contenuto_modale_gestisci{
    background-color: #f5f5f5;
    margin: auto;
    padding: 10px;
    width: 60%; 
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}
.chiudi_modale_aggiungi, .chiudi_modale_modifica, .chiudi_modale_dettaglio, .chiudi_modale_elimina, .chiudi_modale_gestisci {
    color: #969494;
    float: right;
    margin-top:10px;
    margin-right: 20px;
    font-size: 30px;
}
.chiudi_modale_aggiungi:hover, .chiudi_modale_aggiungi:focus, .chiudi_modale_modifica:hover, .chiudi_modale_modifica:focus, .chiudi_modale_dettaglio:hover, .chiudi_modale_dettaglio:focus, .chiudi_modale_elimina:hover, .chiudi_modale_elimina:focus, .chiudi_modale_gestisci:hover, .chiudi_modale_gestisci:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
